@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: "Poppins", sans-serif !important;
}

.swiper {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   @apply px-0 md:px-3 py-3 !important;
}
